@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
* {
	margin:0; 
	padding:0; 
	box-sizing:border-box;
}
body {
	background-color: #ffffff;
	text-align: center;
	font-size: 16px
}
h1 {
	color: #000000;
	font-family: 'Playfair Display', serif;
	font-style: black;
	font-size: 3em;
}
p {
	color: ;
	font-family: 'Playfair Display', serif;
	font-size: 1em;
	text-align: left;
}
#slogan {
	font-style: italic;
}
header {
}
.hero {
	position: relative;
	max-height: 400px;
	overflow: hidden;
	
}
a {
	font-family: 'Playfair Display', serif;
	color: magenta;
	transition: color .5s;
}
a:hover{
	color: cyan;
}
img {
	display: block;
	width: 100%;
}
footer {
	background-color: #7e7e7e;
	padding-top: 3%;
	padding-bottom: 3%;

}
menu {
	}
section {
}
#thumbnail{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
#top-logo{
	display: block;
	width: 100px;
	position: absolute;
	top: 20px;
	left: 20px;
}
#about{
	width: 25%;
	float: left;
}
#about-info{
	width:  72%;
	float: right;
}
.clear-fix:after{
	visibility: hidden;
	content: "";
	display: block;
	clear:both;
	font-size: 0;
	height: 0;
}
.menu{
	display: block;
	width: 50%;
	float: left;
	padding: 20px;
	position: relative;
}
.menu div{
	width: 100%;
	height:0;
	padding-bottom: 56.25%;
	overflow: hidden;
	opacity: 0.5;
}
.menu:hover div{
	opacity:1;
}
.menu h2{
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%,-50%);
}
#about-spacing{
	width: 100%;
	max-width: 1200px;
	margin: 0px auto 30px;
	padding: 20px;
}
#two-column {
	background-color: #ffbb7c;
	border: 1px black solid;
	padding: 20px;
	max-width: 80%;
	position: relative;
}
#left {
	background-color: #e582a2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 62%;
}
#right {
	background-color: #e55b88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 30%;
}
#background{
	background-color: #d3d3d3;
	margin: 0 auto;
	max-width: 1200px;
}
.bottom{
	display: inline;
	margin-top: 10%;
	padding: 30px;
}
.bottom a{
	color: yellow;
}
@media screen and (max-width: 760px){
	.menu{
		width: 100%;
		float: none;
		max-width: 75%;
		margin: 0 auto;
	}
	#about{
		float: none;
		margin: 0 auto;
	}
	#about-info{
		float: none;
		margin: 0 auto;
	}
}