* {
	margin:0; 
	padding:0; 
	box-sizing:border-box;
}
body {
	background-color: #7f7a73;
	text-align: center;
}
h1 {
	color: #ffffff;
}
p {
	color: blue;
}
#slogan {
	font-style: italic;
}
header {
	width: 800px;
	height: 500px;
}
.hero {
	background-content: cover;
}